* {
  box-sizing: border-box;
  /* Disable font boosting */
  max-height: 1000000px;
  /*-webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;*/
}

body {
  background-image: url('checker.png');
  margin: 10px 25px;
  height: 200%;
}

h1,p {
  margin: 10px 0px;
}



a.button {
  color: #fff;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 3px;
  margin: 10px 0;
  display: inline-block;
}

.right {
  float: right;
}

a:hover.button {
  color: yellow;
}

article {
  width: 100%;
  color: #ccc;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px;
  border-radius: 4px;
  position: fixed;
  width: 90%;
}

b {
  color: #fff;
}
